

/* == GERAIS ==================== */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    font-size: 62.5%;
    
    /* == VAR ===== */
    --preimary-color: hsl(354, 86%, 37%);
    --secundary-color: hsl(35, 91%, 50%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    --brand-beige: hsl(40, 100%, 97%);

    --bg-color: hsl(46, 71%, 93%);
    --bg-nav:hsl(354, 86%, 37%);
    
}

html,
body{
    width: 100%;
    height: 100%;
}

html{
    scroll-behavior: smooth;
    /* Faz com que a rolagem da pagina seja suave */
}

body{
    font-size: 1.6rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    overflow: overlay;
    /*
        conta a bara de rolagem como parte da pagina e não algo fora dela
    */

    background-color: var(--bg-color);
}

.wrapper{
    width: min(112rem, 100%);
    margin-inline: auto;
    padding-inline: auto;
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--headline);
}

img{
    max-width: 100%;
}

main{
    padding-block: 10rem;
}

h1{
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
}

h2{
    font-weight: 700;
    font-size: 3.0rem;
    line-height: 3.9rem;

    color: var(--headline);
}

h4{
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 150%;
    text-transform: uppercase;

    color: var(--headline);
    letter-spacing: 0.08rem;

    padding-bottom: 1.0rem;
}

p{
    font-size: 1.6rem;
    color: var(--paragraph);

    font-weight: 400;
    line-height: 150%;
}


/* === NAVEGATION ========= */

#navigation{
    display: flex;
    padding: 2.4rem 1.6rem;
    margin-bottom: 3.5rem;

    justify-content: space-between;
    top: 0;
    width: 100vw;

    background-color: var(--bg-nav);
    border-bottom: .5rem solid var(--secundary-color);
    align-items: center;
}

#navigation ul{
    display: flex;
    justify-content: space-around;
    width: 70%;
}

#navigation ul li a{
    color: var(--headline);
    font-weight: 300;
    font-size: 1.8rem;
}


/* === MAIN ========= */

main{
    background-color: hsl(35, 89%, 82%);
    width: 90%;
    margin-inline: auto;
    padding-top: 4rem;
    padding-bottom: 6rem;
    padding-inline: 4rem;
    margin-bottom: 3.5rem;

    border-radius: 1rem;
}


main header{
    margin-bottom: 5rem;
}

/* --- MAIN HOME ------- */
#home .atalhos{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    width: 70%;
    margin-inline: auto;
}

#home .atalhos .aItens{
    border: 2px solid;
    border-radius: .4rem;

    width: 18rem;
    line-height: 2;
    padding-block: 1rem;

    flex: 1 1 auto;
}

#home .atalhos .aItens img{
    height: 10rem;
    width: 10rem;
}

#home .atalhos .dados img{
    opacity: 0.82;
}


/* --- MAIN DADOS ------- */
#dados{
    display: grid;
    grid-area: a;
}

#dados #result{
    display: flex;
    justify-content: center;
    flex: 1 2 true;
}

#dados #result div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 2 true;
    flex-wrap: wrap;
}
#dados #result div img{
    position: relative;
    opacity: .75;
}
#dados #result div h2{
    position: absolute;
}



/* ==== FOOTER ============================== */

footer{
    height: 15%;
    background-color: var(--bg-nav);
    align-items: center;
    padding-top: 4rem;

    border-top: .5rem solid var(--secundary-color);
}



/* ==== BACK TO TOP =================== */

#backToTop{
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    z-index: 1;


    opacity: 0;
    visibility: hidden;
    

    transform: translateY(100%);
    transition: 200ms;
}

#backToTop.show{
    opacity: 1;
    visibility: visible;

    transform: translateY(0);
}

#backToTop circle{
    fill: var(--bg-nav);
    stroke: var(--secundary-color)
}