/* --- Gerais ------- */
:root{
    font-size: 62.5%;
    
    /* == VAR ===== */
    --preimary-color: hsl(354, 86%, 37%);
    --secundary-color: hsl(35, 91%, 50%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 13%, 24%);
    --brand-beige: hsl(40, 100%, 97%);

    --bg-color: hsl(46, 71%, 93%);
    --bg-nav:hsl(354, 86%, 37%);
    
}

/* --- MAIN DADOS ------- */
#dados{
    display: grid;
    grid-area: a;
}

/* === Input ======= */
#dados #inputList{
    display: grid;
    justify-content: center;
    grid-template-areas: "A B";
    gap: 2rem;
}
#dados #inputList input{
    padding: .5rem;
    text-align: center;

    border:.2rem solid var(--headline);
}
#dados #inputList .A{
    grid-area: A;
}
#dados #inputList .B{
    grid-area: B;
}

/* === Botões ======= */
#dados #buttonList{
    margin-block: 2rem;

    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
#dados #buttonList button{
    padding: .5rem;
    width: 4.5rem;
    height: 4rem;

    border-radius: 20%;
    border:.2rem solid var(--headline);
    background-color: var(--bg-color);
}

/* === Resultados ======= */
#dados #result{
    display: flex;
    justify-content: center;
    flex: 1 2 true; 
    flex-wrap: wrap;
}

#dados #result div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 2 true;
   
}
#dados #result div img{
    position: relative;
    height: 13rem;
    width: 13rem;
    opacity: .60;
}
#dados #result div h2{
    position: absolute;
    color: var(--brand-beige);
}