/* === MAIN RAÇAS ======= */
#races h1{
    margin-bottom: 2rem;
}
#races nav{
    border-block: 1px black solid;
    
    padding-block: 2rem;
    margin-bottom: 2rem;
}
#races nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    
    padding-top: 2rem;
}

#races article{
    margin-bottom: 10rem;
    padding-bottom: 1.5rem;
    border-bottom: .5rem double;

}
#races article img{
    width: 32.5rem;
    height: 40rem; 
}
#races article p{
    font-size: 1.8rem;
}
#races article h3{
    font-size: 2rem;
}
#races article h3,
#races article p,
#races article img,
#races article div{
    margin-bottom: 2rem;
}

#races article select{
    margin-bottom: 3rem;
}




/* --- SUB RAÇAS: AASIMAR ------- */

#Aasimar .subAasimar{
    display: none;
}
#Aasimar .subAasimar.view{
    display: initial;
}



/* --- SUB RAÇAS: ANÃO ------- */

#Anao .subAnao{
    display: none;
}

#Anao .subAnao.view{
    display: initial;
}



/* --- ANCESTRALIDADE-DRACONATO ------- */

#Draconato .ancestalDraconato{
    display: none;
}

#Draconato .ancestalDraconato.view{
    display: initial;
}



/* --- SUB RAÇAS: ELFO ------- */

#Elfo .subElfo{
    display: none;
}

#Elfo .subElfo.view{
    display: initial;
}