/* === MAIN RAÇAS ======= */
#races h1{
    margin-bottom: 2rem;
}
#races nav{
    border-block: 1px black solid;
    
    height: 10rem;
    padding-block: 2rem;
    margin-bottom: 2rem;
}
#races nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    
    padding-top: 2rem;
}

#races article{
    margin-bottom: 10rem;
    padding-bottom: 1.5rem;
    border-bottom: .5rem double;

}
#races article img{
    width: 32.5rem;
    height: 40rem; 
}
#races article p{
    font-size: 1.8rem;
}
#races article h3{
    font-size: 2rem;
}
#races article h3,
#races article p,
#races article img,
#races article div{
    margin-bottom: 2rem;
}

#races article select{
    margin-bottom: 3rem;
}




/* --- SUB RAÇAS: AASIMAR ------- */

#Aasimar #caido{
    display: none;
}
#Aasimar #caido.view{
    display: initial;
}

#Aasimar #flagelo{
    display: none;
}
#Aasimar #flagelo.view{
    display: initial;
}

#Aasimar #protetor{
    display: none;
}
#Aasimar #protetor.view{
    display: initial;
}



/* --- SUB RAÇAS: ANÃO ------- */

#Anao #anaoColina{
    display: none;
}
#Anao #anaoColina.view{
    display: initial;
}

#Anao #anaoMontanha{
    display: none;
}
#Anao #anaoMontanha.view{
    display: initial;
}

#Anao #anaoPronfundezas{
    display: none;
}
#Anao #anaoPronfundezas.view{
    display: initial;
}

